.root {
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	width: 85%;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	display: flex;
	justify-content: center;
}

.section {
	display: flex;
}
