.root {
	padding: 0 20px;
	display: flex;
}

.section {
	display: flex;
	flex-direction: column;
	padding: 0 10px;
}

.title {
	text-align: center;
}

.column {
	display: flex;
	flex-direction: column;
}
