.root {
	border-top: 2px solid rgba(42, 40, 251);
	padding-left: 30px;
}

.title {
	margin: 5px 0;
}

.box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.email {
	margin: 5px 0;
}

.body {
	margin: 5px 0;
}

.button {
	height: 25px;
	background-color: #fff;
	border: 2px solid rgba(42, 40, 251);
	border-radius: 5px;
}

.button:hover {
	background-color: rgba(42, 40, 251);
	color: white;
}
