body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-family: "Apercu Mono Pro";
}

@font-face {
  font-family: "Apercu Mono Pro";
  src: url("styles/fonts/ApercuMonoProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
